* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 150px;
}

/* MAIN CONTAINER */
.resume-container {
  display: flex;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.left-section {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  width: 35%;
  text-align: center;
  border-right: 5px solid #39bee6;
}

.profile-picture {
  width: 160px;
  height: 160px;
  margin-top: 10%;
  border-radius: 50%;
  border: 5px solid #39bee6;
  object-fit: cover;
  margin-bottom: 20px;
}

.left-section h3 {
  color: white !important;
  box-shadow: 0 0 15px #39bee6;
}


h1 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 18px;
  padding: 2%;
  margin: 20px 0 10px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 15px #39bee6;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

ul li {
  margin: 5px 0;
}

.right-section {
  padding: 20px;
  width: 65%;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 18px;
}

button:hover {
  background-color: #39d8e6;
}

@media (max-width: 1024px) {
  body {
    padding: 50px;
  }

  .resume-container {
    width: 95%;
  }
}

@media (max-width: 850px) {
  .resume-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
    border-right: none;
  }

  .left-section {
    border-bottom: 5px solid #39bee6;
  }

  .profile-picture {
    width: 130px;
    height: 130px;
    margin-top: 20px;
  }

  body {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  p,
  li {
    font-size: 14px;
  }

  .profile-picture {
    width: 110px;
    height: 110px;
  }

  button {
    font-size: 16px;
    padding: 6px 15px;
  }
}
